<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{show.list.title}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
</head>

<body>
	<div th:replace="components/header :: header"></div>
	<div class="container">
		<h1 th:text="#{show.list.heading}">Shows List</h1>
		<table>
			<thead>
				<tr>
					<th th:text="#{show.list.column.title}">Title</th>
					<th th:text="#{show.list.column.status}">Status</th>
					<th th:text="#{show.list.column.action}">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="show : ${shows}">
					<td th:text="${show.title}">Show title</td>
					<td th:text="#{${'status.' + show.status} ?: 'Default status message'}">Show status</td>
					<td>
						<a th:href="@{/show/details/{id}(id=${show.id})}" th:text="#{show.details.title}">View
							Details</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="components/footer :: footer"></div>
</body>

</html>